/* LOGIN E CADASTRO */

.pagina-login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #0f0f0f;
}

.caixa-login {
    width: 400px;
    padding: 40px;

    background: #181818;

    border: 1px solid #292929;
    border-radius: 15px;

    text-align: center;

    box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}

.caixa-login h1 {
    margin-bottom: 30px;
}

.caixa-login h2 {
    margin-bottom: 10px;
}

.caixa-login p {
    color: #aaa;
    margin-bottom: 25px;
}

.caixa-login form {
    text-align: left;
}

.caixa-login label {
    display: block;
    margin-bottom: 8px;
    margin-top: 18px;
}

.caixa-login input {
    width: 100%;
    padding: 14px;

    background: #222;
    color: white;

    border: 1px solid #333;
    border-radius: 8px;

    outline: none;
}

.caixa-login input:focus {
    border-color: white;
}

.caixa-login button {
    width: 100%;

    margin-top: 25px;
    padding: 14px;

    border: none;
    border-radius: 8px;

    background: white;
    color: black;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.caixa-login button:hover {
    opacity: 0.85;
}

.caixa-login a {
    color: white;
    text-decoration: none;
}
