* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

/* HEADER */

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    background: #111;
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

.botao {
    background: white;
    color: black;
    padding: 12px 20px;
    border-radius: 8px;
}

/* HERO */

.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    padding: 0 8%;

    background:
        linear-gradient(
            rgba(0,0,0,0.65),
            rgba(0,0,0,0.8)
        ),
        url("https://images.unsplash.com/photo-1516035069371-29a1b244cc32?auto=format&fit=crop&w=2000&q=80");

    background-size: cover;
    background-position: center;
}

.hero-texto {
    max-width: 650px;
}

.hero h1 {
    font-size: 70px;
    line-height: 1.05;
    margin-bottom: 25px;
}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: 35px;
}

.botoes {
    display: flex;
    gap: 15px;
}

.botao-principal,
.botao-secundario {
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.botao-principal {
    background: white;
    color: black;
}

.botao-secundario {
    border: 1px solid white;
    color: white;
}
